<!DOCTYPE html>
<html>
    <head>
        <title>Chords!</title>
        <!-- recommended to avoid security warnings with SVG in IE8 -->
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <!-- styles -->
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
        <!-- mandatory script includes for jtab -->
        <script src="http://jtab.tardate.com/javascripts/jquery.js" type="text/javascript"></script>
        <script src="http://jtab.tardate.com/javascripts/lowpro.js" type="text/javascript"></script>
        <script src="http://jtab.tardate.com/javascripts/raphael.js" type="text/javascript"></script>
        <script src="http://jtab.tardate.com/javascripts/jtab.js" type="text/javascript"></script>
    </head>
    <body>
        <h1 class="hidden">Chords</h1>

        <div id="chords">
            {% for chord in chords %}
                <div class="chord {{ cycle(['odd', 'even'], loop.index) }}">
                    <div class="name">{{chord}}</div>
                    <div class="jtab tab">{{chord}}</div>
                </div>
            {% endfor %}
        </div>
        <footer>
          <p>{{ wisdom }}</p>
              <div id="#github">
                  <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=robomc&amp;repo=chordz&amp;type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
              </div>
        </footer>
    </body>
</html>
